In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/urban_cards_estandar_inventory_all_editions.csv")
df.head()

,name,edition,condition,language,price_eur,quantity
0,Acechadora de Llanowar,Dominaria Unida,NM,Español,0.05,2
1,Acuífero contaminado,Dominaria Unida,NM,Español,0.90,1
2,Afanar,Dominaria Unida,NM,Español,0.10,2
3,Afluente fundido,Dominaria Unida,NM,Español,0.25,4
4,Alas rotas,Dominaria Unida,NM,Español,0.05,3

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1518 entries, 0 to 1517
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       1518 non-null   object
 1   edition    1518 non-null   object
 2   condition  1518 non-null   object
 3   language   1518 non-null   object
 4   price_eur  1518 non-null   float64
 5   quantity   1518 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 71.3+ KB

In [5]:
print(df['condition'].unique())
print(df['language'].unique())

['NM' 'EX']
['Español' 'Inglés']

In [6]:
df = df.drop_duplicates()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1506 entries, 0 to 1517
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       1506 non-null   object
 1   edition    1506 non-null   object
 2   condition  1506 non-null   object
 3   language   1506 non-null   object
 4   price_eur  1506 non-null   float64
 5   quantity   1506 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 82.4+ KB

In [8]:
df['total_value'] = df['price_eur'] * df['quantity']
df['total_value'] = df['total_value'].round(2)

In [9]:
df.head()

,name,edition,condition,language,price_eur,quantity,total_value
0,Acechadora de Llanowar,Dominaria Unida,NM,Español,0.05,2,0.10
1,Acuífero contaminado,Dominaria Unida,NM,Español,0.90,1,0.90
2,Afanar,Dominaria Unida,NM,Español,0.10,2,0.20
3,Afluente fundido,Dominaria Unida,NM,Español,0.25,4,1.00
4,Alas rotas,Dominaria Unida,NM,Español,0.05,3,0.15

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1506 entries, 0 to 1517
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1506 non-null   object
 1   edition      1506 non-null   object
 2   condition    1506 non-null   object
 3   language     1506 non-null   object
 4   price_eur    1506 non-null   float64
 5   quantity     1506 non-null   int64
 6   total_value  1506 non-null   float64
dtypes: float64(2), int64(1), object(4)
memory usage: 94.1+ KB

In [10]:
valor_total = df['total_value'].sum()
print(f"💰 Valor total del inventario estándar: {valor_total:.2f} €")

top_10 = df.sort_values(by="total_value", ascending=False).head(10)
print("\n🏆 Top 10 cartas más valiosas:")
print(top_10[['name', 'edition', 'price_eur', 'quantity', 'total_value']])

resumen_edicion = df.groupby("edition")["total_value"].sum().sort_values(ascending=False)
print("\n📦 Valor por edición:")
print(resumen_edicion)

💰 Valor total del inventario estándar: 750.04 €

🏆 Top 10 cartas más valiosas:
                                      name                           edition  \
1313                         La Eterchispa                       Aetherdrift
1190            Estandarte de la hermandad  Magic: The Gathering - Cimientos
742                     Distrito comercial   Asesinatos en la mansión Karlov
1066                Tres pasos por delante     Forajidos de Cruce de Truenos
950                      Hidra filondorado     Forajidos de Cruce de Truenos
1067                Tres pasos por delante     Forajidos de Cruce de Truenos
1311                 Mecatitán vidrillante                       Aetherdrift
953                Huesitos, el carterista     Forajidos de Cruce de Truenos
414   Tegumentiburón de la Hueste de Cromo            Marcha de las máquinas
1471          Remolino del dragón espíritu        Tarkir: tormenta dracónica

      price_eur  quantity  total_value
1313      15.10         1         15.1
1190       5.00         3         15.0
742       10.30         1         10.3
1066       9.70         1          9.7
950        9.20         1          9.2
1067       9.00         1          9.0
1311       8.00         1          8.0
953        7.80         1          7.8
414        1.70         4          6.8
1471       1.34         5          6.7

📦 Valor por edición:
edition
Forajidos de Cruce de Truenos           159.63
Tarkir: tormenta dracónica              120.02
Magic: The Gathering - Cimientos        100.63
Asesinatos en la mansión Karlov          68.81
Las cavernas perdidas de Ixalan          55.73
Dominaria Unida                          48.22
Pirexia: Todos serán uno                 46.92
Aetherdrift                              36.79
Marcha de las máquinas                   32.76
Bloomburrow                              26.96
La Guerra de los Hermanos                21.74
Las tierras salvajes de Eldraine         19.08
Duskmourn: La casa de los horrores       11.25
Marcha de las máquinas: las secuelas      1.50
Name: total_value, dtype: float64

In [11]:
df_competencia = pd.read_csv("../data/competitors_inventory_combined.csv")
df_competencia.head()

,name,edition,condition,language,price_eur,quantity,seller
0,Bendición de la furia de batalla,Dominaria Unida,NM,Inglés,0.20,8,Mazvigosl
1,Bosque (V.1),Dominaria Unida,NM,Inglés,0.12,8,Mazvigosl
2,Bosque (V.3),Dominaria Unida,NM,Inglés,0.12,8,Mazvigosl
3,"Radha, señora guerrera de la Coalición",Dominaria Unida,NM,Inglés,0.12,8,Mazvigosl
4,Trasgo germinante,Dominaria Unida,NM,Inglés,0.12,8,Mazvigosl

In [12]:
df_competencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9714 entries, 0 to 9713
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       9714 non-null   object
 1   edition    9714 non-null   object
 2   condition  9714 non-null   object
 3   language   9714 non-null   object
 4   price_eur  9714 non-null   float64
 5   quantity   9714 non-null   int64
 6   seller     9714 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 531.4+ KB

In [13]:
print(df_competencia['condition'].unique())
print(df_competencia['language'].unique())

['NM' 'EX' 'GD' 'LP' 'PO']
['Inglés' 'Japonés' 'Español' 'Alemán' 'Francés']

In [14]:
df_competencia['total_value'] = df_competencia['price_eur'] * df_competencia['quantity']
df_competencia['total_value'] = df_competencia['total_value'].round(2)
df_competencia.head()

,name,edition,condition,language,price_eur,quantity,seller,total_value
0,Bendición de la furia de batalla,Dominaria Unida,NM,Inglés,0.20,8,Mazvigosl,1.60
1,Bosque (V.1),Dominaria Unida,NM,Inglés,0.12,8,Mazvigosl,0.96
2,Bosque (V.3),Dominaria Unida,NM,Inglés,0.12,8,Mazvigosl,0.96
3,"Radha, señora guerrera de la Coalición",Dominaria Unida,NM,Inglés,0.12,8,Mazvigosl,0.96
4,Trasgo germinante,Dominaria Unida,NM,Inglés,0.12,8,Mazvigosl,0.96

In [16]:
# Paso 1: Crear un diccionario con nombres únicos en df
df["id_carta"] = df["name"].astype("category").cat.codes
nombre_a_id = dict(zip(df["name"], df["id_carta"]))

# Paso 2: Obtener los nombres que NO están en df
nombres_competencia = set(df_competencia["name"])
nombres_urban = set(df["name"])
nuevos_nombres = nombres_competencia - nombres_urban

# Paso 3: Asignar nuevos IDs a las cartas que solo están en df_competencia
ultimo_id = df["id_carta"].max() + 1
nuevos_ids = {name: idx for idx, name in enumerate(nuevos_nombres, start=ultimo_id)}

# Paso 4: Unir los diccionarios
nombre_a_id.update(nuevos_ids)

# Paso 5: Asignar los IDs a df_competencia
df_competencia["id_carta"] = df_competencia["name"].map(nombre_a_id)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1506 entries, 0 to 1517
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1506 non-null   object
 1   edition      1506 non-null   object
 2   condition    1506 non-null   object
 3   language     1506 non-null   object
 4   price_eur    1506 non-null   float64
 5   quantity     1506 non-null   int64
 6   total_value  1506 non-null   float64
 7   id_carta     1506 non-null   int16
dtypes: float64(2), int16(1), int64(1), object(4)
memory usage: 97.1+ KB

In [20]:
df.to_csv("../data/urban_cards_estandar_final.csv", index=False)

In [21]:
df_competencia.to_csv("../data/competencia_estandar_final.csv", index=False)